
<!-- The login page -->
<form action= ""  method="">
  <div class="imgcontainer">
	<%= image_tag 'Logo-for-wesbite.jpg', :class => "map-pic" %>    
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" >

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" >

    <button type="submit">Login</button>
    <button type="submit">Sign Up</button>
  </div>
    <%= link_to 'View Parent Profile', home_parent_path, :class => "parent-page" %>
   <!-- <span class="Parent">Parent? <a href="#">go to parent page?</a></span>-->
</form>

